table{
	border-collapse: collapse;
	width: 100%;
},
th, td{
	border: 1px solid;
	padding: 8px;
	text-align: left;
}
th{
	background-color: darkblue;
	color: white;
	text-align: left;
}
tr:nth-child(even) {
	background-color:lightgray;
}
